<br><br><br>
<p *ngIf="!isValid" style="text-align: center; font-size: 30px; margin-left: 5%;margin-right: 5% "
   class="alert alert-danger">{{validateInfo}}</p>
<mat-card style="margin: 3%; text-align: center; background: #a2aeb0">

  <h1>Issue subcject: {{issue.issueTitle}}</h1>
  <mat-card style="margin: 5%;">
    <h2 style="text-align: center">Description</h2>
    <p [innerHTML]="getInnerHTMLData() | safeHtml"></p>
  </mat-card>

  <button *ngIf="issue.status== 'ASSIGNED' && actualUser!='[ROLE_USER]'" mat-raised-button color="primary"
          (click)="makeWorkInPro()">Work in progress
  </button>
  <mat-card *ngIf="issue.status=='WORK_IN_PROGRESS' && actualUser!='[ROLE_USER]'">
    <h3>Enter solution</h3>
    <angular-editor style="height: 300px" [placeholder]="'Enter solution here...'" [(ngModel)]="issue.solution"
                    [config]="editorConfig">

    </angular-editor>
    <br>
    <button mat-raised-button color="warn" (click)="saveIssueSolution()">Submit solution</button>
  </mat-card>
  <mat-card *ngIf="issue.status=='FINISHED'">
    <h2 style="text-align: center">Solution</h2>
    <p [innerHTML]="issue.solution | safeHtml"></p>

  </mat-card>
</mat-card>

