.initial_message{
  text-align: center;
}
.chat_card{
  margin: 5% 10%;
  height: 500px;
  background-color: #999c9f;
  overflow-y: scroll;
}

.chat_input{
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  transform: translateY(-90%);
}

.chat_input mat-form-field{
  width: 90%;
}
.send{
  font-weight: bold;
  float: right;
  margin-left: 5%;
  width: 100px;
  height: 50px;
  transform: translateY(-55px);
}

.chat_input .send {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.each_message{
  width: auto;
  display: inline-block;
}

.current_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.other_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

