.initial_message{
  text-align: center;
}
#chat{
  margin: 5% 10%;
  height: 500px;
  overflow-y: auto;
  background-color: #999c9f;
  word-break: break-all;
  scroll-behavior: smooth;
}

.chat_input{
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  transform: translateY(-70%);
}

.chat_input mat-form-field{
  width: 90%;
}
.send{
  font-weight: bold;
  float: right;
  margin-left: 5%;
  width: 100px;
  height: 50px;
  transform: translateY(-55px);
}

.chat_input .send {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.each_message{
  width: auto;
  display: inline-block;
  padding: 10px;
  border: solid 1px #9f9f9f;
  border-radius: 10px;
  margin-bottom: 1%;
}

.current-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.other-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.current-user, .other-user {
  margin-bottom: 20px;
}
