<div class="heading"><p>Employee details</p></div>

<div class="details_content">
<p>Employee number: {{employee?.employee.employeeId}}</p>
<p>Name: {{employee?.employee.name}}</p>
<p>Last name: {{employee?.employee.lastName}}</p>
<p>Age: {{employee?.employee.age}}</p>
<p>Employeed date: {{employee?.employee.eployedDate}}</p>
<p>Salary: {{employee?.employee.salary}}</p>

<p>Department name: {{employee?.department.departmentName}}</p>
<p>Department budget: {{employee?.department.bugdet}}</p>
<p>Manager: {{employee?.department.departmentManager}}</p>
<br>
</div>
<button class="button_edit details_button" routerLink="/all">Go back to all emps</button>
