<div class="heading"><p>UPDATE USER {{employee.username}}</p></div>
<p *ngIf="updateInfo" class="err succ">{{updateInfo}}</p>
<form (ngSubmit)="update()">

  <div class="input validate">
    <label> name<br>
      <input type="text" [(ngModel)]="employee.name" name="name" required="required"><a>{{invName}}</a>
    </label>
    <br>
    <label> lname<br>
      <input type="text" [(ngModel)]="employee.lastName" name="lastName" required="required"><a>{{invLastName}}</a>
    </label>
    <br>
    <label> age<br>
      <input type="text" [(ngModel)]="employee.age" name="age" required="required"><a>{{invAge}}</a>
    </label>
    <br>
    <label> salary<br>
      <input type="text" [(ngModel)]="employee.salary" name="salary" required="required"><a>{{invSalary}}</a>
    </label>
    <br>
    <a style="color: black; margin-left: 10px">select department </a>
    <br><select [(ngModel)]="employee.department" name="department"> // value is a string or number
    <option *ngFor="let obj of possibleDepts" [value]="obj">{{obj}}</option>
  </select>
  </div>
  <br><br><br><br><br>

  <button type="submit" class="button_edit button_save">Save</button>
</form>
