<br><br><br>
<mat-card style="margin-right: 10%; margin-left: 10%">
  <h1>All clients</h1>
  <br><br>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Internal clients
      </mat-panel-title>
      <mat-panel-description>
        <a>{{length}} results</a>
      </mat-panel-description>
    </mat-expansion-panel-header>
<table class="table table-striped">
  <thead>
  <tr>

    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of clients">
    <td> {{ i.name }}</td>
    <td>{{ i.surname}}</td>
    <td>{{ i.email}}</td>
    <td ><button mat-raised-button color="primary" (click)="retrieveUserData(i.clientId)">Details</button></td>
  </tr>
  </tbody>
</table>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="getAllClients($event)">
</mat-paginator>
  </mat-expansion-panel>
<br><br>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      External clients
    </mat-panel-title>
    <mat-panel-description>
      <a> {{extLen}} results</a>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <table class="table table-striped">
    <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">NIP</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of externalClients">
      <td> {{ i.name }}</td>
      <td>{{ i.surname}}</td>
      <td>{{ i.nip}}</td>
      <td><button mat-raised-button color="primary" (click)="navigateToExternalClient(i.externalClientId)">External client details </button> </td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="extLen"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="getAllExternals($event)">
  </mat-paginator>
</mat-expansion-panel>

</mat-card>
