<form (ngSubmit)="saveUser()">


  <div class="heading"><p>Register</p></div>
  <br>
  <p class="err" *ngIf="err">{{err}}</p>
  <p class="err succ" *ngIf="userGeneratedMessage">{{userGeneratedMessage}}</p>

  <br>
  <div class="input">
    <input type="text" [(ngModel)]="user.username" placeholder="username (given by admin)" name="username"
           required="required">

    <br>

    <input type="text" [(ngModel)]="user.password" name="password" placeholder="type new password" type="password"
           required="required">

    <br>
  </div>
  <br><br>
  <button class="button_edit button_save" type="submit">Save</button>
</form>

