<br> <br><br>
<div *ngIf="!isAuthenticatedAsUser && !isAuthenticatedAsAdmin && !isAuthenticatedAsModerator" class="back">

  <div class="homeContent">
  <div class="header"><p> Start your adventure with the best program in the world!</p></div>
  <button mat-raised-button color="warn" routerLink="login">GET STARTED</button>
  </div>
  </div>

<div *ngIf="isAuthenticatedAsUser || isAuthenticatedAsAdmin || isAuthenticatedAsModerator" class="back">
  <div class="homeContent">
    <div class="header"><p>Hello there, {{userData}}</p></div>
    <button mat-raised-button color="warn" routerLink="addInvoice">TRY TO ADD INVOICE</button>
  </div>
</div>
