<div class="heading"><p> ADD EMPLOYEE</p></div>
<mat-card class="generate_employee_fields">

  <h1 style="text-align: center">Create new employee</h1>
  <p *ngIf="err" class="alert alert-danger">{{err}}</p>
  <br>
  <p *ngIf="userGeneratedMessage" class="alert alert-success">{{userGeneratedMessage}}</p>
<mat-card class="generate_employee_fields">
    <mat-form-field class="generate_employee">
      <mat-label>Name </mat-label>
      <input [(ngModel)]="emp.name" matInput required="required">

    </mat-form-field>

  <mat-form-field class="generate_employee">
    <mat-label>Surname </mat-label>
    <input [(ngModel)]="emp.surname" matInput required="required">

  </mat-form-field>


  <mat-form-field class="generate_employee">
      <mat-label>Email</mat-label>
      <input type="email" [(ngModel)]="emp.email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  <mat-form-field class="generate_employee">
    <mat-label>Adress </mat-label>
    <input [(ngModel)]="emp.adress" matInput required="required">

  </mat-form-field>
  <mat-form-field class="generate_employee">
    <mat-label>NIP </mat-label>
    <input [(ngModel)]="emp.nip" matInput required="required">

  </mat-form-field>

  <mat-form-field class="generate_employee">
    <mat-label>Skills</mat-label>
    <mat-chip-list #chipList aria-label="Skills">
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                [removable]="removable" (removed)="remove(fruit)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Enter new skill..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
              >

    </mat-chip-list>
  </mat-form-field>

  <button (click)="createNewUser()" type="submit"  mat-raised-button color="primary" class="generate_employee_button" >Save</button>

</mat-card>
